<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="icon" href="../../img/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../apple-touch-icon.png">
    <link rel="manifest" href="../../manifest.json">
    <link rel="author" href="../../humans.txt" />
    <meta name="robots" content="noindex">
    <!-- css -->
    <link rel="stylesheet" href="../../css/style.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,500,700&display=swap&subset=japanese"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/wxx4xzj.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../../js/main.js" defer></script>
</head>