<header id="header">
    <div class="container">
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-list-item"><a href="#about">About</a></li>
                <li class="header__nav-list-item"><a href="#news">News</a></li>
                <li class="header__nav-list-item"><a href="#session">Session</a></li>
                <li class="header__nav-list-item"><a href="#timetable">Timetable</a></li>
                <li class="header__nav-list-item"><a href="#sponsor">Sponsor</a></li>
                <li class="header__nav-list-item"><a href="#staff">Staff</a></li>
                <li class="header__nav-list-item"><a href="#contact">Contact</a></li>
                <li class="header__nav-list-item"><a href="#share">Share</a></li>
            </ul>
        </nav>
    </div>
    <div class="drawr">
        <figure>
            <img class="header__nav-sp-logo" src="../../img/logo.svg" alt="">
        </figure>
        <nav class="header__nav-sp">
            <ul class="header__nav-sp-list">
                <li class="header__nav-sp-list-item"><a href="#about">About</a></li>
                <li class="header__nav-sp-list-item"><a href="#news">News</a></li>
                <li class="header__nav-sp-list-item"><a href="#session">Session</a></li>
                <li class="header__nav-sp-list-item"><a href="#timetable">Timetable</a></li>
                <li class="header__nav-sp-list-item"><a href="#sponsor">Sponsor</a></li>
                <li class="header__nav-sp-list-item"><a href="#staff">Staff</a></li>
                <li class="header__nav-sp-list-item"><a href="#contact">Contact</a></li>
                <li class="header__nav-sp-list-item"><a href="#share">Share</a></li>
            </ul>
        </nav>
    </div>
    <div class="header-humberger js-header-humberger sp-show">
        <span class="header-humberger-border top"></span>
        <span class="header-humberger-border middle"></span>
        <span class="header-humberger-border bottom"></span>
    </div>
</header>