footer {
    background-color: $mainColor;
    color: $white;
    @include font('Rounded Mplus 1c', 400, 1.5rem, 0.1em);
    padding: 15px 0;
    text-align: center;
}

@include sp {
    footer {
        @include font('Rounded Mplus 1c', 400, 1.2rem, 0.1em);
    }
}