// ***************************************************
// main
// ***************************************************
.main {
    width: 100vw;
    overflow: hidden;
}
// ***************************************************
// content-section
// ***************************************************
.content-section {
    padding: 100px 0;

    .content-section__head {
        padding-bottom: 60px;

        .content-section__head-title {
            @include font('verveine', 400, 7rem, 0.03em);
            padding-bottom: 25px;
        }
        .content-section__head-img {
            width: 90px;
        }
    }
    .content-section__content {
        .content-section__content-title {
            padding-bottom: 40px;
            @include font('Rounded Mplus 1c', 700, 2.6rem, 0.15em);
            line-height: 1.6;
        }
        .content-section__content-lead {
            @include font('Rounded Mplus 1c', 400, 1.5rem, 0.1em);
            line-height: 2;
        }
    }

    .content-section__section {
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@include container {
    .content-section {
        margin: 0 auto;
        padding: 60px 20px;

        .content-section__head {
            padding-bottom: 40px;

            .content-section__head-title {
                @include font('verveine', 400, 5rem, 0.03em);
                padding-bottom: 0;
            }
            .content-section__head-img {
                width: 90px;
            }
        }
        .content-section__content {
            .content-section__content-title {
                padding-bottom: 30px;
                @include font('Rounded Mplus 1c', 700, 2rem, 0.1em);
                line-height: 1.5;
            }
        }
    }
}


// ***************************************************
// top
// ***************************************************
// top__mvのフォントサイズ指定用
@mixin topMv ($minWidth, $maxWidth, $titleFontSize, $titleEmphasisFontSize) {
    @media (min-width: $minWidth) and (max-width: $maxWidth) {
        .top__mv {
            .top__mv-img {
                width: 95%;
            }
            .top__mv_title {
                @include font('charcuterie-sans', 400, $titleFontSize, 0);
                .top__mv-title--emphasis {
                    @include font('charcuterie-sans', 400, $titleEmphasisFontSize, 0);
                }
            }
        }
    }
}

.top {
    .top__mv {
        width: 100vw;
        max-width: $containerWidth;
        position: relative;
        margin: 0 auto;

        .top-crowd1-img {
            width: 120px;
            position: absolute;
            top: -5%;
            left: -3%;
        }
        .top-crowd2-img {
            width: 140px;
            position: absolute;
            top: 7.5%;
            right: -17%;
        }
        .top-crowd3-img {
            width: 135px;
            position: absolute;
            top: 50%;
            left: -25%;
        }
        .top-crowd4-img {
            width: 155px;
            position: absolute;
            top: 80%;
            right: -18.5%
        }
        .top-crowd5-img {
            width: 100px;
            position: absolute;
            top: 106%;
            left: 2%;
        }

        .top__mv-img {
            width: 100%;
        }

        .top__mv_title {
            @include font('charcuterie-sans', 400, 8.7rem, 0);
            line-height: 1.2;
            position: absolute;
            top: 54%;
            left: 51%;
            transform: translate(-50%, -50%);

            .top__mv-title--emphasis {
                @include font('charcuterie-sans', 400, 12rem, 0);
                color: $mainColor;
            }
        }
    }

    // top__mv画像とのバランスを考えて、細かく指定する
    @include topMv($minSpWidth, 359px, 2.7rem, 3.8rem);
    @include topMv(360px, 409px, 3.2rem, 4.3rem);
    @include topMv(410px, 767px, 3.7rem, 4.8rem);
    @include topMv(768px, 991px, 7.2rem, 7.8rem);
}

@include sp {
    .top {
        .top__mv {
            .top-crowd1-img {
                width: 40px;
                position: absolute;
                top: -10%;
                left: 7%;
            }
            .top-crowd2-img {
                width: 50px;
                position: absolute;
                top: -1.5%;
                right: 1%;
            }
            .top-crowd3-img {
                width: 45px;
                position: absolute;
                top: 50%;
                left: -8%;
            }
            .top-crowd4-img {
                width: 60px;
                position: absolute;
                top: 80%;
                right: -8%
            }
            .top-crowd5-img {
                width: 40px;
                position: absolute;
                top: 100%;
                left: 8%;
            }
        }
    }
}

// ***************************************************
// entry
// ***************************************************
.entry {
    position: relative;
    background-color: $mainColor;
    padding: 50px 0;

    @include bg-line-water(url('../../img/bg_line_top.svg'), url('../../img/bg_line_bottom.svg'));

    .entry__info {
        @include font('Rounded Mplus 1c', 700, 3rem, 0.1em);
        margin-bottom: 50px;
        color: $white;

        .entry__info-item {
            display: inline-block;
        }
    }
}
@include laptop {
    .entry {
        padding: 30px 0;
        .entry__info {
            @include font('Rounded Mplus 1c', 700, 2.2rem, 0.1em);
            margin-bottom: 25px;

            .entry__info-item {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
};

// ***************************************************
// about
// ***************************************************
.about {
    background-image: url('../../img/bg_okinawa.svg');
    background-size: 300px;
    background-position: center center;
    background-repeat: no-repeat;
}


// ***************************************************
// news
// ***************************************************
.news {
    position: relative;
    background-image: url('../../img/bg_seesaa.svg');
    background-position: center center;
    background-repeat:   no-repeat;
    background-color: $mainColorOpacity;

    @include bg-line-water(change-color-bg-line-top-svg($mainColorOpacity), change-color-bg-line-bottom-svg($mainColorOpacity));

    .news__list {
        width: 100%;
        @include font('Rounded Mplus 1c', 400, 1.6rem, 0.1em);
        line-height: 1.6;

        .news__list-row {
            padding: 15px 0;
            display: block;
            border: solid 1.3px #CCCCCC;
            border-right: none;
            border-left: none;
            border-bottom: 0px;
            border-collapse: collapse;
            &:last-child {
                border-bottom: solid 1.3px #CCCCCC;
            }

            .news__list-item-date {
                padding-right: 40px;
            }
        }
    }
}
@include laptop {
    .news {
        background-image: url('../../img/bg_seesaa_sp.svg');
        background-position: center top;

        .news__list {
            @include font('Rounded Mplus 1c', 400, 1.5rem, 0.1em);

            .news__list-row {
                td {
                    display: block;
                    text-align: left;
                    width: 100%;
                }

                .news__list-item-date {
                    padding-bottom: 15px;
                }
            }
        }
    }
}

// ***************************************************
// session
// ***************************************************
.session {
    background-image: url(../../img/bg_motif.svg), url(../../img/bg_motif.svg);
    background-position: center 60px, center 1380px;
    background-repeat: no-repeat, no-repeat;
    margin: 0;

    .session__contents {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 4px;
        }

        .session__content {
            width: 29.8%;       // session__content-imgのbox-shadowを表示させるため
            margin-right: 50px;
            &:last-child {
                margin-right: 4px;
            }

            @include font('Rounded Mplus 1c', 700, 1.6rem, 0.1em);
            line-height: 1.6;

            .session__content-img {
                margin-bottom: 25px;
            }
            .session__content-title {
                @include font('Rounded Mplus 1c', 700, 1.8rem, 0.1em);
                margin-bottom: 20px;
            }
            .session__content-name {
                @include font('Rounded Mplus 1c', 500, 1.7rem, 0.1em);
                margin-bottom: 25px;
                color: $mainColor;
            }
            .session__content-text {
                @include font('Rounded Mplus 1c', 400, 1.6rem, 0.1em);
            }
            .session__content-sponsor-name {
                @include font('Rounded Mplus 1c', 500, 1.7rem, 0.1em);
                margin-bottom: 25px;
                color: $subColor;
            }
        }
        .session__content--maincolor {
            .session__content-img {
                box-shadow: 4px 4px $mainColor;
            }
        }
        .session__content--subcolor {
            .session__content-img {
                box-shadow: 4px 4px $subColor;
            }
        }
    }
}


@include sp {
    .session {
        .session__contents {
            display: block;
            .session__content {
                width: 100%;
                margin-right: 0;
                margin-bottom: 40px;

                @include font('Rounded Mplus 1c', 700, 1.6rem, 0.1em);
                line-height: 1.6;

                .session__content-img {
                    width: 100%;
                    margin-bottom: 20px;
                }
                .session__content-title {
                    margin-bottom: 15px;
                }
                .session__content-name {
                    margin-bottom: 20px;
                }
                .session__content-sponsor-name {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@include sp {
    .session {
        background-image: url(../../img/bg_motif_sp.svg);
        background-position: center 30px, center 1380px;
        background-repeat: repeat;
    }
}


// ***************************************************
// timetable
// ***************************************************
.timetable {
    background-image: url('../../img/bg_water_white.svg');
    background-position: top center;
    background-repeat: repeat-y;
    background-color: $mainColorOpacity;
    background-size: cover;
    position: relative;

    @include bg-line-water(change-color-bg-line-top-svg($mainColorOpacity), change-color-bg-line-bottom-svg($mainColorOpacity));

    .time-table {
        border-collapse: separate;
        border-spacing: 20px 10px;

        .right_up_border {
            background-image: linear-gradient(
                    20deg,              /*角度*/
                    transparent 49%,
                    $mainColor 49%,     /*斜線の色*/
                    $mainColor 51%,     /*斜線の色*/
                    transparent 51%,
                    transparent
                );
        }

        .time-table__header-row {
            .time-table__header-timeroom {
                @include font('Rounded Mplus 1c', 700, 1.3rem, 0.05em);
                color: $mainColor;
                position: relative;

                .positon-bottom-left {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

                .positon-top-right {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }

            .time-table__header-title {
                @include font('Rounded Mplus 1c', 500, 2.2rem, 0);
                background-color: $mainColor;
                color: $mainColorOpacity;
                padding: 10px;
            }
        }

        .time-table__row {
            min-height: 100px;

            .time-table__side-time {
                @include font('Rounded Mplus 1c', 500, 1.5rem, 0.1em);
                background-color: $mainColor;
                color: $mainColorOpacity;
                padding: 0 20px;
            }

            .time-table__data {
                padding: 15px;
                text-align: left;

                .time-table__data-title {
                    @include font('Rounded Mplus 1c', 500, 1.5rem, 0.1em);
                    margin-bottom: 15px;
                }

                .time-table__data-name {
                    @include font('Rounded Mplus 1c', 400, 1.5rem, 0.1em);
                    color: #C1C1C1;
                }
            }
        }

        th, td {
            text-align: center;
        }

        td {
            background-color: $white;
        }
    }
}

@include container {
    .timetable {
        background-image: url('../../img/bg_water_white_sp.svg');
        background-size: cover;

        .time-table-wrapper {
            position: relative;
            overflow: scroll;

            .time-table {
                background-image: url('../../img/bg_water_white_sp.svg');
                width: $containerWidth;
                border-spacing: 8px;

                .time-table__row {
                    .time-table__side-time {
                        padding: 0;
                        width: 70px;
                        position: sticky;
                        left: 0;
                        z-index: 2;         // スクロールアイコンより前に表示。スクロールアイコン非表示にする処理を入れてこの行消したい。
                    }
                    .time-table__data {
                        padding: 15px;
                        text-align: left;
                        .time-table__data-title {
                            @include font('Rounded Mplus 1c', 500, 1.5rem, 0.1em);
                            margin-bottom: 15px;
                        }
                        .time-table__data-name {
                            @include font('Rounded Mplus 1c', 400, 1.5rem, 0.1em);
                            color: #C1C1C1;
                        }
                    }
                }
            }
        }
    }
}


// ***************************************************
// sponsor
// ***************************************************
.sponsor {
    background-image: url('../../img/bg_water_red.svg');
    background-position: top center;
    background-repeat: repeat-y;
    background-size: cover;

    .sponsor__contents {
        .sponsor__content {
            margin-bottom: 50px;

            .sponsor__content-title {
                @include font('verveine', 400, 5rem, 0.03em);
                padding-bottom: 30px;
            }

            .platinum {
                color: #90BCBE;
            }
            .gold {
                color: #C2A946;
            }
            .silver {
                color: #A5A7AA;
            }
            .bronze {
                color: #A77B4F;
            }
            .lunch-sponsor {
                color: $mainColor;
            }
            .app-sponsor {
                color: $mainColor;
            }

            .sponsor__content-sponsors {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }

                .sponsor__content-sponsor {
                    width: 30%;
                    margin-right: 20px;

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@include sp {
    .sponsor {
        background-image: url('../../img/bg_water_red_sp.svg');

        .sponsor__contents {
            .sponsor__content {
                margin-bottom: 40px;
                .sponsor__content-title {
                    @include font('verveine', 400, 4.8rem, 0.03em);
                    padding-bottom: 25px;
                }

                .sponsor__content-sponsors {
                    margin-bottom: 0;

                    .sponsor__content-sponsor {
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}


// ***************************************************
// staff
// ***************************************************
.staff {
    background-image: url('../../img/bg_water_white.svg');
    background-position: top center;
    background-repeat: repeat-y;
    background-color: $mainColorOpacity;
    background-size: cover;
    position: relative;

    @include bg-line-water(change-color-bg-line-top-svg($mainColorOpacity), change-color-bg-line-bottom-svg($mainColorOpacity));

    .staff__members {
        display: inline-block;

        .staff__members-col3 {
            margin-bottom: 40px;

            display: inline-block;
            .staff__member {
                display: inline-block;
                margin-right: 50px;

                .staff__member-img {
                    width: 120px;
                    border-radius: 120px;
                }

                .staff__member-name {
                    @include font('Rounded Mplus 1c', 500, 16px, 0.1em);
                    line-height: 1.7;
                }
            }
        }
    }
}

@include container {
    .staff__members {
        .staff__members-col3 {
            width: 100%;
            display: block;

            .staff__member {
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

@include sp {
    .staff {
        background-image: url('../../img/bg_water_white_sp.svg');

        .staff__members {
            margin-bottom: 0;
            &:last-child {
                margin-bottom: -20px;
            }

            .staff__members-col3 {
                margin-bottom: 20px;

                .staff__member {
                    display: inline-block;
                    margin-right: 30px;
                    &:last-child {
                        margin-right: 0;
                    }

                    .staff__member-img {
                        width: 60px;
                        border-radius: 60px;
                    }
                }
            }
        }
    }
}


// ***************************************************
// contact
// ***************************************************
.contact {
    .contact__content {
        @include font('Rounded Mplus 1c', 400, 16px, 0.1em);
        position: relative;

        .contact__content-lead {
            margin-bottom: 40px;
            line-height: 2em;
        }

        .contact__mail {
            @include font('Rounded Mplus 1c', 500, 30px, 0.05em);
            color: $mainColor;
            margin-bottom: 50px;
            overflow-wrap: break-word;
        }

        .contact__icon-man {
            position: absolute;
            top: -50px;
            right: -150px;
            width: 150px;
        }
    }
}


// ***************************************************
// share
// ***************************************************
.share {
    background-color: $subColorOpacity;
    position: relative;

    @include bg-line-water(change-color-bg-line-top-svg($subColorOpacity), change-color-bg-line-bottom-svg($subColorOpacity));
}


// ------------------------------
// foot
// ------------------------------
.foot {
    .container {
        padding: 50px 0;
    }
}