<!DOCTYPE html>
<% var description = 'top'; %>
<html lang="en">
<% include ./_common/_head.ejs %>

<body>
    <% include ./_layout/_header.ejs %>

    <main class="main">
        <article class="top">
            <div class="container mt-100">
                <div class="top__mv mb-80">
                    <img class="top-crowd1-img" src="../img/icon_crowd_1.svg" alt="">
                    <img class="top-crowd2-img" src="../img/icon_crowd_2.svg" alt="">
                    <img class="top-crowd3-img" src="../img/icon_crowd_3.svg" alt="">
                    <img class="top-crowd4-img" src="../img/icon_crowd_4.svg" alt="">
                    <img class="top-crowd5-img" src="../img/icon_crowd_5.svg" alt="">

                    <figure>
                        <img class="top__mv-img" src="../img/mv.svg" alt="">
                    </figure>
                    <h1 class="top__mv_title">FRONTEND<br>CONFERENCE<br>OKINAWA<br><span
                            class="top__mv-title--emphasis">2020</span>
                    </h1>
                </div>
                <div class="scroll mb-60 sp-none">
                    <p class="scroll-title">scroll</p>
                    <a href="#about"><img class="scroll-arrow-img" src="../img/arrow.svg" alt=""></a>
                </div>
            </div>
        </article>

        <article class="entry">
            <div class="container">
                <div class="entry__info">
                    <p class="entry__info-item">2020年00月00日（○）</p>
                    <p class="entry__info-item">場所の名前場所の名前</p>
                </div>
                <div class="entry-btn">
                    <a class="btn btn__main-color--bg-white">カンファレンス参加申込み</a>
                    <a class="btn btn__main-color--bg-white">懇親会参加申込み</a>
                </div>
            </div>
        </article>

        <article class="about" id="about">
            <div class="container">
                <section class="content-section">
                    <div class="content-section__head">
                        <h2 class="content-section__head-title">About</h2>
                        <img class="content-section__head-img" src="../img/underline.svg" alt="">
                    </div>
                    <section>
                        <div class="content-section__content">
                            <h3 class="content-section__content-title">フロントエンドカンファレンス沖縄、初開催！</h3>
                            <p class="content-section__content-lead">
                                概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります。
                                概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります
                                概要がここに入ります概要がここに入ります。
                            </p>
                        </div>
                    </section>
                </section>
            </div>
        </article>

        <article class="news" id="news">
            <div class="container">
                <section class="content-section">
                    <div class="content-section__head">
                        <h2 class="content-section__head-title">News</h2>
                        <img class="content-section__head-img" src="../img/underline.svg" alt="">
                    </div>
                    <div class="content-section__content">
                        <table class="news__list">
                            <tr class="news__list-row">
                                <td class="news__list-item-date">2020/00/00</td>
                                <td class="news__list-item-content">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</td>
                            </tr>
                            <tr class="news__list-row">
                                <td class="news__list-item-date">2020/00/00</td>
                                <td class="news__list-item-content">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</td>
                            </tr>
                            <tr class="news__list-row">
                                <td class="news__list-item-date">2020/00/00</td>
                                <td class="news__list-item-content">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</td>
                            </tr>
                            <tr class="news__list-row">
                                <td class="news__list-item-date">2020/00/00</td>
                                <td class="news__list-item-content">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</td>
                            </tr>
                            <tr class="news__list-row">
                                <td class="news__list-item-date">2020/00/00</td>
                                <td class="news__list-item-content">ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト</td>
                            </tr>
                        </table>
                    </div>
                </section>
            </div>
        </article>

        <article class="session" id="session">
            <div class="container">
                <section class="content-section">
                    <div class="content-section__head">
                        <h2 class="content-section__head-title">Session</h2>
                        <img class="content-section__head-img" src="../img/underline.svg" alt="">
                    </div>
                    <div class="content-section__content">
                        <section class="content-section__section">
                            <h3 class="content-section__content-title">ゲストスピーカーセッション</h3>
                            <div class="session__contents">
                                <div class="session__content session__content--maincolor">
                                    <img class="session__content-img" src="https://placehold.jp/300x200.png" alt="">
                                    <h4 class="session__content-title">セッションタイトル</h4>
                                    <p class="session__content-name">名前 名前</p>
                                    <p class="session__content-text">
                                        概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります。
                                    </p>
                                </div>
                                <div class="session__content session__content--maincolor">
                                    <img class="session__content-img" src="https://placehold.jp/300x200.png" alt="">
                                    <h4 class="session__content-title">セッションタイトルセッションタイトル</h4>
                                    <p class="session__content-name">名前 名前</p>
                                    <p class="session__content-text">概要がここに入ります概要がここに入ります</p>
                                </div>
                                <div class="session__content session__content--maincolor">
                                    <img class="session__content-img" src="https://placehold.jp/300x200.png" alt="">
                                    <h4 class="session__content-title">セッションタイトルセッションタイトル</h4>
                                    <p class="session__content-name">名前 名前</p>
                                    <p class="session__content-text">
                                        概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります。概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります。
                                    </p>
                                </div>
                            </div>
                        </section>
                        <section class="content-section__section">
                            <h3 class="content-section__content-title">スポンサーセッション</h3>
                            <div class="session__contents">
                                <div class="session__content session__content--subcolor">
                                    <img class="session__content-img" src="https://placehold.jp/300x200.png" alt="">
                                    <h4 class="session__content-title">セッションタイトル</h4>
                                    <p class="session__content-sponsor-name">スポンサー名</p>
                                    <p class="session__content-text">
                                        概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります。
                                    </p>
                                </div>
                                <div class="session__content session__content--subcolor">
                                    <img class="session__content-img" src="https://placehold.jp/300x200.png" alt="">
                                    <h4 class="session__content-title">セッションタイトルセッションタイトル</h4>
                                    <p class="session__content-sponsor-name">スポンサー名</p>
                                    <p class="session__content-text">概要がここに入ります概要がここに入ります</p>
                                </div>
                                <div class="session__content session__content--subcolor">
                                    <img class="session__content-img" src="https://placehold.jp/300x200.png" alt="">
                                    <h4 class="session__content-title">セッションタイトル</h4>
                                    <p class="session__content-sponsor-name">スポンサー名</p>
                                    <p class="session__content-text">
                                        概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります。概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります概要がここに入ります。
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </article>

        <article class="timetable" id="timetable">
            <div class="container">
                <section class="content-section">
                    <div class="content-section__head">
                        <h2 class="content-section__head-title">Timetable</h2>
                        <img class="content-section__head-img" src="../img/underline.svg" alt="">
                    </div>
                    <div class="content-section__content">
                        <div class="time-table-wrapper">
                            <table class="time-table" id="table-scroll">
                                <img id="icon-scroll" class="icon-scroll sp-show" src="../img/icon_scroll.svg" alt="">
                                <tr class="time-table__header-row">
                                    <th class="time-table__header-timeroom right_up_border">
                                        <p><span class="positon-bottom-left">TIME</span><span
                                                class="positon-top-right">ROOM</span></p>
                                    </th>
                                    <th class="time-table__header-title">TRACK A</th>
                                    <th class="time-table__header-title">TRACK B</th>
                                    <th class="time-table__header-title">TRACK C</th>
                                </tr>
                                <tr class="time-table__row">
                                    <th class="time-table__side-time">00:00</th>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                </tr>
                                <tr class="time-table__row">
                                    <th class="time-table__side-time">00:00</th>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                </tr>
                                <tr class="time-table__row">
                                    <th class="time-table__side-time">00:00</th>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="time-table__row">
                                    <th class="time-table__side-time">00:00</th>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr class="time-table__row">
                                    <th class="time-table__side-time">00:00</th>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                </tr>
                                <tr class="time-table__row">
                                    <th class="time-table__side-time">00:00</th>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                </tr>
                                <tr class="time-table__row">
                                    <th class="time-table__side-time">00:00</th>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                    <td class="time-table__data">
                                        <p class="time-table__data-title">セッションタイトルセッションタイトルセッション</p>
                                        <p class="time-table__data-name">名前 名前</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </article>

        <article class="sponsor" id="sponsor">
            <div class="container">
                <section class="content-section">
                    <div class="content-section__head">
                        <h2 class="content-section__head-title">Sponsor</h2>
                        <img class="content-section__head-img" src="../img/underline.svg" alt="">
                    </div>
                    <div class="content-section__content">
                        <div class="sponsor__contents">
                            <div class="sponsor__content">
                                <h3 class="sponsor__content-title platinum">Platinum</h3>
                                <div class="sponsor__content-sponsors">
                                    <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png" alt="">
                                </div>
                            </div>
                            <div class="sponsor__content">
                                <h3 class="sponsor__content-title gold">Gold</h3>
                                <div class="sponsor__content-sponsors">
                                    <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png" alt="">
                                    <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png" alt="">
                                </div>
                            </div>
                            <div class="sponsor__content">
                                <h3 class="sponsor__content-title silver">Silver</h3>
                                <div class="sponsor__content-sponsors">
                                    <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png" alt="">
                                    <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png" alt="">
                                </div>
                                <div class="sponsor__content-sponsors">
                                    <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png" alt="">
                                    <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png" alt="">
                                </div>
                            </div>
                            <div class="sponsor__content">
                                <h3 class="sponsor__content-title bronze">Bronze</h3>
                                <div class="sponsor__content-sponsors">
                                    <div class="sponsor__content-sponsors">
                                        <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png"
                                            alt="">
                                        <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png"
                                            alt="">
                                        <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png"
                                            alt="">
                                    </div>
                                    <div class="sponsor__content-sponsors">
                                        <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png"
                                            alt="">
                                        <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png"
                                            alt="">
                                        <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png"
                                            alt="">
                                    </div>
                                    <div class="sponsor__content-sponsors">
                                        <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png"
                                            alt="">
                                        <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png"
                                            alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="sponsor__content">
                                <h3 class="sponsor__content-title lunch-sponsor">Lunch Sponsor</h3>
                                <div class="sponsor__content-sponsors">
                                    <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png" alt="">
                                </div>
                            </div>
                            <div class="sponsor__content">
                                <h3 class="sponsor__content-title app-sponsor">App Sponsor</h3>
                                <div class="sponsor__content-sponsors">
                                    <img class="sponsor__content-sponsor" src="https://placehold.jp/300x100.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </article>

        <article class="staff" id="staff">
            <div class="container">
                <section class="content-section">
                    <div class="content-section__head">
                        <h2 class="content-section__head-title">Staff</h2>
                        <img class="content-section__head-img" src="../img/underline.svg" alt="">
                    </div>
                    <div class="content-section__content">
                        <div class="staff__members">
                            <div class="staff__members-col3">
                                <div class="staff__member">
                                    <img class="staff__member-img"
                                        src="https://randomuser.me/api/portraits/women/79.jpg" alt="">
                                    <p class="staff__member-name">名前 名前</p>
                                </div>
                                <div class="staff__member">
                                    <img class="staff__member-img"
                                        src="https://randomuser.me/api/portraits/women/80.jpg" alt="">
                                    <p class="staff__member-name">名前 名前</p>
                                </div>
                                <div class="staff__member">
                                    <img class="staff__member-img"
                                        src="https://randomuser.me/api/portraits/women/81.jpg" alt="">
                                    <p class="staff__member-name">名前 名前</p>
                                </div>
                            </div>
                            <div class="staff__members-col3">
                                <div class="staff__member">
                                    <img class="staff__member-img"
                                        src="https://randomuser.me/api/portraits/women/82.jpg" alt="">
                                    <p class="staff__member-name">名前 名前</p>
                                </div>
                                <div class="staff__member">
                                    <img class="staff__member-img"
                                        src="https://randomuser.me/api/portraits/women/83.jpg" alt="">
                                    <p class="staff__member-name">名前 名前</p>
                                </div>
                                <div class="staff__member mr-50-denial">
                                    <img class="staff__member-img"
                                        src="https://randomuser.me/api/portraits/women/84.jpg" alt="">
                                    <p class="staff__member-name">名前 名前</p>
                                </div>
                            </div>
                        </div>
                        <div class="staff__members">
                            <div class="staff__members-col3">
                                <div class="staff__member">
                                    <img class="staff__member-img"
                                        src="https://randomuser.me/api/portraits/women/85.jpg" alt="">
                                    <p class="staff__member-name">名前 名前</p>
                                </div>
                                <div class="staff__member">
                                    <img class="staff__member-img"
                                        src="https://randomuser.me/api/portraits/women/86.jpg" alt="">
                                    <p class="staff__member-name">名前 名前</p>
                                </div>
                                <div class="staff__member">
                                    <img class="staff__member-img"
                                        src="https://randomuser.me/api/portraits/women/87.jpg" alt="">
                                    <p class="staff__member-name">名前 名前</p>
                                </div>
                            </div>
                            <div class="staff__members-col3 mr-50-denial">
                                <div class="staff__member">
                                    <img class="staff__member-img"
                                        src="https://randomuser.me/api/portraits/women/81.jpg" alt="">
                                    <p class="staff__member-name">名前 名前</p>
                                </div>
                                <div class="staff__member">
                                    <img class="staff__member-img"
                                        src="https://randomuser.me/api/portraits/women/82.jpg" alt="">
                                    <p class="staff__member-name">名前 名前</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </article>

        <article class="contact" id="contact">
            <div class="container">
                <section class="content-section">
                    <div class="content-section__head">
                        <h2 class="content-section__head-title">Contact</h2>
                        <img class="content-section__head-img" src="../img/underline.svg" alt="">
                    </div>
                    <div class="contact__content">
                        <p class="contact__content-lead">
                            ご入力いただいた情報は、お問い合わせに対するご連絡のために使用し、それ以外の目的のためには一切使用しません。<br>
                            また、いただいたお問い合わせについては、1週間程度でお返しするようにしております。<br>
                            1週間を過ぎても返信がない場合は、お手数ですが再度ご連絡よろしくお願いします。
                        </p>
                        <p class="contact__mail">fec_okinawa@gmail.com</p>
                        <div class="contact-btn">
                            <a class="btn btn__main-color--bg-main" href="#">カンファレンス参加申込み</a>
                            <a class="btn btn__main-color--bg-main" href="#">懇親会参加申込み</a>
                        </div>
                        <img class="contact__icon-man sp-none" src="../img/icon_man.svg" alt="">
                    </div>
                </section>
            </div>
        </article>

        <article class="share" id="share">
            <div class="container">
                <section class="content-section">
                    <div class="content-section__head">
                        <h2 class="content-section__head-title">Share</h2>
                        <img class="content-section__head-img" src="../img/underline_blue.svg" alt="">
                    </div>
                    <div class="content-section__content">
                        <div class="contact-btn">
                            <a class="btn btn__sub-color--bg-sub" href="https://twitter.com/home" target="_blank">
                                <p><i class="fab fa-twitter icon"></i>@fec_okinawa</p>
                            </a>
                            <a class="btn btn__sub-color--bg-white"
                                href="https://twitter.com/intent/tweet?url=&text=&hashtags=fec_okinawa" target="_blank">
                                <p><i class="fab fa-twitter icon"></i>#fec_okinawaでツイート</p>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </article>

        <article class="foot">
            <div class="container">
                <div class="scroll">
                    <a href="#header"><img class="scroll-arrow-img up-down-inversion" src="../img/arrow.svg" alt=""></a>
                    <p class="scroll-title pagetop">pagetop</p>
                </div>
            </div>
        </article>
    </main>

    <% include ./_layout/_footer.ejs %>
</body>

</html>